@charset "utf-8";
/* CSS Document */
/* mobil*/
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	
}


#wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

nav {
  grid-column: 1 / 2;
  width: 130px;
  top: 20px;
  left: 10px;
  background: #E82727;
  overflow-x: hidden;
  padding: 8px 0;
  border: 2px solid #000;
}

nav a {

  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
 font-family:'Spectral',serif;
}

nav a:hover {
  color: #000000;
}

header{
	grid-column: 3 / 5;
}
 
header img{
	width:100%;
	padding-top: 5px;
}

main {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column: 1 / 5;
}

#intro {
	grid-column: 4 / 5;
	
}

#video {
	grid-column: 1 / 5;
	padding-top: 10px;
	margin-right: 20px;
	margin-left: 10px;
	
}

#musik {
	grid-column: 1 / 4;
	margin-left: 17px;
	
}


h2{
	font-size: 1.2em;
	padding-bottom: 5px;
	padding-left: 5px;
	font-family: 'Spectral',serif;
	font-weight: 700;
}


#right{
	font-size: 1.2em;
	padding-left: 15px;
	font-family: 'Spectral',serif;
	font-weight: 700;
}
	


h3{
	font-size: 1.2em;
	padding-left: 5px;
	padding-bottom: 5px;
	font-family: 'Spectral',serif;
	font-weight: 700;
}



article img{
		width: 100%;
	}
	

.img {
	float:left;
	width: 70%;
}

.button {
  background-color: #E82727;
  border: 2px solid #000;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Spectral',serif;
  font-weight: 700;
  margin: 5px 2px;
  cursor: pointer;
}

footer {
	grid-column: 1 / 5;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-color: #000000;
	color: #fff;
	text-align:center;
	height: 100%;
	margin-top: 100px;
	width:100%;
	font-size: 1em;
	font-family: 'Raleway medium',sans serif;
}

        

}

	footer h4 {
		margin-bottom: 0;
		font-family: 'Spectral',serif;
		font-weight: 700;
	}

footer a{
	text-decoration: none;
	color: #fff;
}

	#section1 {
		grid-column: 2 / 4;
		line-height: 1.6;
		
        
	}


	

@media only screen and (min-width: 700px){  /*Her begynder desktop*/
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	
}
#wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}



nav {
  grid-column: 1 / 2;
  width: 130px;
  top: 20px;
  left: 10px;
  background: #E82727;
  overflow-x: hidden;
  padding: 8px 0;
  border: 2px solid #000;
}

nav a {

  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Spectral',serif;
  color: #fff;
  display: block;
}

nav a:hover {
  color: #000000;
}
	
	
header{
	grid-column: 11 / 13;
}
 
header img{
	width:100%;
	padding-bottom: 2px;
}


main {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: 1 / 13;
}

#intro {
	grid-column: 9/ 13;
	padding-top: 8px;
	
}

#video {
	grid-column: 5 / 9;
	
	
}

#musik {
	grid-column: 2 / 5;
	font-size: 1em;
	
}
	
h2{
	font-size: 1.2em;
	padding-bottom: 5px;
	font-family: 'Spectral',serif;
	font-weight: 700;
}


#right{
	font-size: 1.2em;
	padding-left: 10px;
	font-family: 'Spectral',serif;
	font-weight: 700;
}
	
h3{
	font-size: 1.2em;
	padding-bottom: 5px;
	font-weight: bold;
	
}



article img{
		width: 100%;
	}
	


.img {
	float:left;
	width: 50%;
}

.button {
  background-color: #E82727;
  border: 2px solid #000;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Spectral',serif;
  font-weight: 700;
  margin: 5px 2px;
  cursor: pointer;
}

footer {
	grid-column: 1 / 13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	background-color: #000000;
	color: #fff;
	text-align:center;
	height: 100%;
	margin-top: 100px;
	width:100%;
	font-size: 1.2em;
    font-family: 'Raleway medium',sans serif;
        

}

	footer h4 {
		margin-bottom: 0;
		font-family: 'Spectral',serif;
		font-weight: 700;
		
	}

footer a{
	text-decoration: none;
	color: #fff;
}

	#section1 {
		grid-column: 6 / 8;
		line-height: 1.6;
		
        
	}


}